{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": module,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "dot-notation": 0,
    "guard-for-in": 0,
    "no-underscore-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "space-before-function-paren": [2, "never"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "import/prefer-default-export": 0,
    "semi": ["error", "never"],
    "no-console": 0,
    "no-shadow": 0,
    "max-len": 0,
    "new-cap": 0,
    "func-names": 0,
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "functions": "ignore"
    }],
    "no-mixed-operators": 0
  }
}
